<h1>Mathsuite#index</h1>

<h1>Math suite application!</h1>

<form method="get" action="/show">
  <div class="form-group">
    <p>1. Даны два действительных числа a и b. Получить их сумму,
      разность и произведение.</p>
    <label for="exampleInputEmail1">Input a:</label>
    <input name="name" type="text" class="form-control" id="a_param" aria-describedby="emailHelp" placeholder="enter a number" >
    <label for="exampleInputEmail1">Input b:</label>
    <input name="name" type="text" class="form-control" id="b_param" aria-describedby="emailHelp" placeholder="enter b number" >
    <label for="exampleInputEmail1">Input c:</label>
    <input name="name" type="text" class="form-control" id="c_param" aria-describedby="emailHelp" placeholder="enter c number" >
  </div>
  <button type="submit" class="btn btn-primary">enter</button>
</form>
